* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --light-grey: #f1f4f6;
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/gal2.jpeg);
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.readmore {
  border: 2px solid #fff;
  border-radius: 1.5rem;
  padding: 0.6rem 0;
  width: 140px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.readmore:hover {
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: black;
  transform: translateY(-3px);
  cursor: pointer;
}

.card_read-more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.card_read-more--open {
  display: block;
  opacity: 1;
  height: 13rem;
}

.circle-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}

#missions {
  background-color: #212529;
  color: #fff;
}

.card_valueState-more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.card_valueState-more--open{
  display: block;
  opacity: 1;
  height: 40rem;
}

.readmore-state {
  border: 2px solid;
  border-radius: 1.5rem;
  padding: 0.6rem 0;
  width: 140px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.readmore-state:hover {
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: black;
  transform: translateY(-3px);
  cursor: pointer;
}
.bg-light-grey {
  background-color: var(--light-grey);
}

#believe-id .carousel-item img {
  width: 250px !important;
}

.card img {
  height: 200px;
}

.cards {
  display: flex;
}
.img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 15px;
}

#believe-id {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.wrapper {
  margin: 25px auto;
  width: 70%;
}

.text-box h1 {
  font-size: 42px;
}
.text-box p {
  font-size: 16px;
}
